# Home task: pandas

In [1]:
import pandas as pd
import numpy as np

### Question 1

- Load the energy data from the file [Energy Indicators.xls](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls).
It is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013.


- It should be put into a DataFrame with the variable name of "energy"

In [2]:
# I took data from the repository
raw_energy = pd.read_excel('Energy Indicators.xls')
raw_energy.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,Environmental Indicators: Energy,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Energy Supply and Renewable Electricity Produc...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,Last update: December 2015

- Make sure to exclude the footer and header information from the datafile.

In [3]:
# header
raw_energy.head(20)

# header ends at the 17th row

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,Environmental Indicators: Energy,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Energy Supply and Renewable Electricity Produc...,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,Last update: December 2015
5,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Choose a country from the following drop-down ...,NaN,NaN,Afghanistan
7,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,Country,Energy Supply,Energy Supply per capita,Renewable Electricity Production
9,NaN,NaN,NaN,Petajoules,Gigajoules,%
10,NaN,NaN,Afghanistan,321,10,78.66928
11,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,website: http://unstats.un.org/unsd/ENVIRONMEN...
13,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,Energy Supply,Energy Supply per capita,Renewable Electricity Production
16,NaN,NaN,NaN,Petajoules,Gigajoules,%
17,NaN,Afghanistan,Afghanistan,321,10,78.66928
18,NaN,Albania,Albania,102,35,100
19,NaN,Algeria,Algeria,1959,51,0.55101

In [4]:
# footer
raw_energy.tail(50)
# footer starts at the 245th row

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
232,NaN,United Republic of Tanzania,United Republic of Tanzania,994,20,31.07284
233,NaN,United States of America,United States of America20,90838,286,11.57098
234,NaN,United States Virgin Islands,United States Virgin Islands,...,...,0
235,NaN,Uruguay,Uruguay,196,58,71.60504
236,NaN,Uzbekistan,Uzbekistan,1798,62,21.32841
237,NaN,Vanuatu,Vanuatu,3,10,14.70588
238,NaN,Venezuela (Bolivarian Republic of),Venezuela (Bolivarian Republic of),2871,95,67.83452
239,NaN,Viet Nam,Viet Nam,2554,28,45.32152
240,NaN,Wallis and Futuna Islands,Wallis and Futuna Islands,0,26,0
241,NaN,Yemen,Yemen,344,13,0
242,NaN,Zambia,Zambia,400,26,99.71467
243,NaN,Zimbabwe,Zimbabwe,480,32,52.53612
244,NaN,NaN,NaN,NaN,NaN,NaN
245,NaN,NaN,NaN,NaN,NaN,NaN
246,NaN,Sources:,NaN,NaN,NaN,NaN
247,NaN,UNSD Energy Statistics Yearbook.,NaN,NaN,NaN,NaN
248,NaN,See: http://unstats.un.org/unsd/energy/yearboo...,NaN,NaN,NaN,NaN
249,NaN,NaN,NaN,NaN,NaN,NaN
250,NaN,Footnotes:,NaN,NaN,NaN,NaN
251,NaN,1,Excludes the overseas territories.,NaN,NaN,NaN
252,NaN,2,Data exclude Hong Kong and Macao Special Admin...,NaN,NaN,NaN
253,NaN,3,Data on kerosene-type jet fuel include aviatio...,NaN,NaN,NaN
254,NaN,4,"For confidentiality reasons, data on coal and ...",NaN,NaN,NaN
255,NaN,5,Data exclude Greenland and the Danish Faroes.,NaN,NaN,NaN
256,NaN,6,"Data include Monaco, and exclude the following...",NaN,NaN,NaN
257,NaN,7,Data for kerosene-type jet fuel include other ...,NaN,NaN,NaN
258,NaN,8,Data include Timor-Leste until 2001.,NaN,NaN,NaN
259,NaN,9,Data include San Marino and the Holy See.,NaN,NaN,NaN
260,NaN,10,Data include Okinawa.,NaN,NaN,NaN
261,NaN,11,The data for crude oil production include 50 p...,NaN,NaN,NaN
262,NaN,12,Data exclude Suriname and the Netherlands Anti...,NaN,NaN,NaN
263,NaN,13,Data include the Azores and Madeira.,NaN,NaN,NaN
264,NaN,14,Data for crude oil production include 50 per c...,NaN,NaN,NaN
265,NaN,15,Data exclude Kosovo from 2000 onwards.,NaN,NaN,NaN
266,NaN,16,Data include the Canary Islands.,NaN,NaN,NaN
267,NaN,17,Data include Liechtenstein for oil statistics.,NaN,NaN,NaN
268,NaN,18,"For confidentiality reasons, data on the follo...",NaN,NaN,NaN
269,NaN,19,"Shipments of coal and oil to Jersey, Guernsey ...",NaN,NaN,NaN
270,NaN,20,Includes the 50 states and the District of Col...,NaN,NaN,NaN
271,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,Definitions & Technical notes:,NaN,NaN,NaN,NaN
273,NaN,The data on energy supply and renewable electr...,NaN,NaN,NaN,NaN
274,NaN,Energy supply is defined as energy production ...,NaN,NaN,NaN,NaN
275,NaN,Electricity production refers to gross product...,NaN,NaN,NaN,NaN
276,NaN,Renewable electricity production (%) refers to...,NaN,NaN,NaN,NaN
277,NaN,… denotes no data available.,NaN,NaN,NaN,NaN
278,NaN,NaN,NaN,NaN,NaN,NaN
279,NaN,Data Quality:,NaN,NaN,NaN,NaN
280,NaN,The data are compiled primarily from the annua...,NaN,NaN,NaN,NaN
281,NaN,"For more information, visit http://unstats.un....",NaN,NaN,NaN,NaN

- The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:<br>
`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

In [11]:
# save dataframe without header and footer and first two columns
energy = raw_energy.iloc[17:244,2:]
energy.head()

        Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
17     Afghanistan        321         10   78.66928
18         Albania        102         35        100
19         Algeria       1959         51    0.55101
20  American Samoa        ...        ...   0.641026
21         Andorra          9        121   88.69565

In [12]:
# change column names
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
energy.head()

           Country Energy Supply Energy Supply per Capita % Renewable
17     Afghanistan           321                       10    78.66928
18         Albania           102                       35         100
19         Algeria          1959                       51     0.55101
20  American Samoa           ...                      ...    0.641026
21         Andorra             9                      121    88.69565

In [ ]:
# energy_copy = energy.copy()
# # energy = energy_copy.copy()

- For all countries which have missing data (e.g. data with `...`) make sure this is reflected as `np.NaN` values.

<font color = 'red'>
!!! energy indeces start not from 0
</font>

In [8]:
# Check 'Country'
energy[energy['Country'] == '...'].head()

Empty DataFrame
Columns: [Country, Energy Supply, Energy Supply per Capita, % Renewable]
Index: []

In [13]:
for column in energy.columns[1:]:
    energy[column] = pd.to_numeric(energy[column], errors = 'coerce')
energy.head()

           Country  Energy Supply  Energy Supply per Capita  % Renewable
17     Afghanistan          321.0                      10.0    78.669280
18         Albania          102.0                      35.0   100.000000
19         Algeria         1959.0                      51.0     0.551010
20  American Samoa            NaN                       NaN     0.641026
21         Andorra            9.0                     121.0    88.695650

In [10]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 17 to 243
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   227 non-null    object
 1   Energy Supply             222 non-null    float64
 2   Energy Supply per Capita  222 non-null    float64
 3   % Renewable               227 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.2+ KB

In [ ]:
# energy_num = energy.copy()
# energy = energy_num.copy()

- Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule).

In [14]:
energy['Energy Supply'] = energy['Energy Supply']*1000000
energy['Energy Supply'].head()

17    3.210000e+08
18    1.020000e+08
19    1.959000e+09
20             NaN
21    9.000000e+06
Name: Energy Supply, dtype: float64

In [ ]:
# energy_gigsup = energy.copy()
# energy = energy_gigsup.copy()

- There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g.:
    - `Bolivia (Plurinational State of)` should be `Bolivia`,
    - `Switzerland17` should be `Switzerland`.

In [28]:
num_con = energy.loc[energy['Country'].str.contains('\\d'), 'Country']
num_con

28                                            Australia1
59                                                China2
60       China, Hong Kong Special Administrative Region3
61           China, Macao Special Administrative Region4
75                                              Denmark5
90                                               France6
100                                           Greenland7
114                                           Indonesia8
120                                               Italy9
122                                              Japan10
128                                             Kuwait11
160                                        Netherlands12
178                                           Portugal13
194                                       Saudi Arabia14
196                                             Serbia15
207                                              Spain16
214                                        Switzerland17
229                                            Ukraine18
231    United Kingdom of Great Britain and Northern I...
233                           United States of America20
Name: Country, dtype: object

In [29]:
print(energy['Country'].isna().sum())
energy['Country'] = energy['Country'].str.replace('\\d','', regex = True)
print(energy['Country'].isna().sum())
energy.loc[energy['Country'].str.contains('\\d')]

0
0

Empty DataFrame
Columns: [Country, Energy Supply, Energy Supply per Capita, % Renewable]
Index: []

In [30]:
par_con = energy.loc[energy['Country'].str.contains('(', regex = False), 'Country']
# par_con.str.replace(' (.*', '', regex = True)   
par_con #.str.replace(r' \(.*', '', regex=True)

41       Bolivia (Plurinational State of)
87            Falkland Islands (Malvinas)
115            Iran (Islamic Republic of)
150      Micronesia (Federated States of)
200             Sint Maarten (Dutch part)
238    Venezuela (Bolivarian Republic of)
Name: Country, dtype: object

In [22]:
r = pd.Series(['text (ssd)'])

In [33]:
r.str.replace('[(].*','r',regex=True)

0    text r
dtype: object

In [31]:
par_con.str.replace(' [(].*', '', regex=True).iloc[0]

'Bolivia'

In [32]:
energy['Country'] = energy['Country'].str.replace(' [(].*', '', regex=True)
energy.loc[energy['Country'].str.contains('(', regex = False), 'Country']

Series([], Name: Country, dtype: object)

In [33]:
print(energy['Country'].isna().sum())

0

In [ ]:
# clean_con = energy.copy()

- Rename the following list of countries (for use in later questions):
    - `Republic of Korea`: `South Korea`,
    - `United States of America`: `United States`,
    - `United Kingdom of Great Britain and Northern Ireland`: `United Kingdom`,
    - `China, Hong Kong Special Administrative Region`: `Hong Kong`

In [7]:
countries_mapping = {
    'Republic of Korea': 'South Korea',
    'United States of America': 'United States',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'China, Hong Kong Special Administrative Region': 'Hong Kong'
}

In [ ]:
# pd.set_option('display.max_colwidth', None)
# pd.reset_option('display.max_colwidth')

In [40]:
energy.loc[energy['Country'].str.contains('United Kingdom'), 'Country']

231    United Kingdom
Name: Country, dtype: object

In [39]:
energy['Country'] = energy['Country'].replace(countries_mapping, regex=True)

In [41]:
energy['Country'].isna().sum()

0

In [ ]:
# en_renamed = energy.copy()

- Next, load the GDP data from the file ["world_bank.csv"](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). 
It is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame "GDP"

In [42]:
GDP = pd.read_csv('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_19294.csv', skiprows = 4)
GDP

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.481857e+09,2.929447e+09,3.279344e+09,3.648573e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.421063e+10,2.496398e+10,2.707880e+10,3.177575e+10,3.028579e+10,3.381317e+10,...,8.289428e+11,9.729989e+11,1.012306e+12,1.009721e+12,9.333918e+11,1.085745e+12,1.191423e+12,1.245472e+12,NaN,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426000e+10,1.449724e+10,1.723305e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.190495e+10,1.270788e+10,1.363076e+10,1.446909e+10,1.580376e+10,1.692109e+10,...,6.943610e+11,6.878492e+11,7.704950e+11,8.264838e+11,7.898017e+11,8.493124e+11,8.839739e+11,7.991060e+11,NaN,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.043997e+11,8.482465e+10,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.682677e+09,7.180765e+09,7.878760e+09,7.899738e+09,7.717145e+09,9.413404e+09,9.354903e+09,1.046822e+10,NaN,NaN
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,3.235855e+11,3.814488e+11,4.052607e+11,3.893300e+11,3.379747e+11,4.208869e+11,4.069200e+11,3.806993e+11,NaN,NaN
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,6.987397e+08,6.823597e+08,6.792797e+08,7.043397e+08,8.226397e+08,1.061200e+09,...,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.813776e+10,2.209642e+10,2.916378e+10,2.757796e+10,NaN,NaN
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,2.054868e+10,5.107466e+10,3.415607e+10,2.571741e+10,2.686794e+10,2.724052e+10,3.278975e+10,3.523137e+10,NaN,NaN

In [ ]:
# GDP_copy = GDP.copy()

I want to drop last column

In [54]:
GDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 70 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            151 non-null    float64
 5   1961            154 non-null    float64
 6   1962            157 non-null    float64
 7   1963            157 non-null    float64
 8   1964            157 non-null    float64
 9   1965            163 non-null    float64
 10  1966            164 non-null    float64
 11  1967            167 non-null    float64
 12  1968            168 non-null    float64
 13  1969            168 non-null    float64
 14  1970            190 non-null    float64
 15  1971            191 non-null    float64
 16  1972            191 non-null    float64
 17  1973            191 non-null    float64
 18  1974            191 non-null    float64
 19  1975            195 non-null    float64
 20  1976            195 non-null    float64
 21  1977            198 non-null    float64
 22  1978            197 non-null    float64
 23  1979            198 non-null    float64
 24  1980            208 non-null    float64
 25  1981            208 non-null    float64
 26  1982            209 non-null    float64
 27  1983            209 non-null    float64
 28  1984            211 non-null    float64
 29  1985            213 non-null    float64
 30  1986            213 non-null    float64
 31  1987            220 non-null    float64
 32  1988            223 non-null    float64
 33  1989            223 non-null    float64
 34  1990            240 non-null    float64
 35  1991            241 non-null    float64
 36  1992            242 non-null    float64
 37  1993            243 non-null    float64
 38  1994            244 non-null    float64
 39  1995            247 non-null    float64
 40  1996            247 non-null    float64
 41  1997            249 non-null    float64
 42  1998            250 non-null    float64
 43  1999            250 non-null    float64
 44  2000            252 non-null    float64
 45  2001            253 non-null    float64
 46  2002            257 non-null    float64
 47  2003            257 non-null    float64
 48  2004            257 non-null    float64
 49  2005            257 non-null    float64
 50  2006            258 non-null    float64
 51  2007            258 non-null    float64
 52  2008            259 non-null    float64
 53  2009            261 non-null    float64
 54  2010            261 non-null    float64
 55  2011            262 non-null    float64
 56  2012            260 non-null    float64
 57  2013            260 non-null    float64
 58  2014            261 non-null    float64
 59  2015            259 non-null    float64
 60  2016            258 non-null    float64
 61  2017            258 non-null    float64
 62  2018            258 non-null    float64
 63  2019            258 non-null    float64
 64  2020            257 non-null    float64
 65  2021            257 non-null    float64
 66  2022            254 non-null    float64
 67  2023            242 non-null    float64
 68  2024            0 non-null      float64
 69  Unnamed: 69     0 non-null      float64
dtypes: float64(66), object(4)
memory usage: 145.6+ KB

- Make sure to skip the header, and rename the following list of countries:
    - `Korea, Rep.`: `South Korea`,
    - `Iran, Islamic Rep.`: `Iran`,
    - `Hong Kong SAR, China`: `Hong Kong`

In [43]:
countries_mappinggdp = {    
    'Korea, Rep.': 'South Korea',
     'Iran, Islamic Rep.': 'Iran',
     'Hong Kong SAR, China': 'Hong Kong'}

In [46]:
GDP[GDP['Country Name'] == 'Hong Kong']

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
96,Hong Kong,HKG,GDP (current US$),NY.GDP.MKTP.CD,1.320797e+09,1.383682e+09,1.612346e+09,1.935298e+09,2.206466e+09,2.435079e+09,...,3.208603e+11,3.412733e+11,3.617311e+11,3.630745e+11,3.449431e+11,3.689542e+11,3.586811e+11,3.808122e+11,NaN,NaN

In [ ]:
GDP[GDP['Country Name'] == 'Korea, Rep.']

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
126,"Korea, Rep.",KOR,GDP (current US$),NY.GDP.MKTP.CD,3.958812e+09,2.417629e+09,2.814615e+09,3.988462e+09,3.459020e+09,3.120861e+09,...,1.499680e+12,1.623074e+12,1.725373e+12,1.651423e+12,1.644313e+12,1.818432e+12,1.673917e+12,1.712793e+12,NaN,NaN

In [45]:
GDP['Country Name'] = GDP['Country Name'].replace(countries_mappinggdp)

In [60]:
GDP[GDP['Country Name'] == 'Korea, Rep.']

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, Unnamed: 69]
Index: []

[0 rows x 70 columns]

In [61]:
GDP[GDP['Country Name'] == 'South Korea']

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
126,South Korea,KOR,GDP (current US$),NY.GDP.MKTP.CD,3.958812e+09,2.417629e+09,2.814615e+09,3.988462e+09,3.459020e+09,3.120861e+09,...,1.499680e+12,1.623074e+12,1.725373e+12,1.651423e+12,1.644313e+12,1.818432e+12,1.673917e+12,1.712793e+12,NaN,NaN

- Finally, load the "Sciamgo Journal and Country Rank data for [Energy Engineering and Power Technology"](http://www.scimagojr.com/countryrank.php?category=2102). It ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame "ScimEn"

In [47]:
# taken from the repository
ScimEn = pd.read_excel('scimagojr.xlsx')
ScimEn.head()

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,Asiatic Region,273437,272374,2336764,1615239,8.55,245
1,2,United States,Northern America,175891,172431,2230544,724472,12.68,363
2,3,India,Asiatic Region,55082,53775,463165,162944,8.41,181
3,4,Japan,Asiatic Region,50523,50065,488062,119930,9.66,193
4,5,United Kingdom,Western Europe,43389,42284,615670,111290,14.19,226

In [ ]:
# ScimEn_copy = ScimEn.copy()

- Join the three datasets: Energy, GDP, and ScimEn into a new dataset (using the intersection of country names). Use only the 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).

In [48]:
for column in GDP.columns:
    if (column.isdigit() and (int(column) < 2006 or int(column) > 2015)) or (not column.isdigit() and column != 'Country Name') :
        GDP = GDP.drop(columns = column)

GDP.columns

Index(['Country Name', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015'],
      dtype='object')

In [ ]:
# GDP_0615 = GDP.copy()

In [ ]:
# GDP_noUnnamed = GDP.copy()

In [49]:
ScimEn.shape

(208, 9)

In [50]:
ScimEn = ScimEn.iloc[:15]
ScimEn.shape

(15, 9)

In [51]:
energy.shape, GDP.shape

((227, 4), (266, 11))

- The index of this DataFrame should be the name of the country, and the columns should be<br>
`['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', 2012', '2013', '2014', '2015']`

Function "answer_one" should return the resulted DataFrame (20 columns and 15 entries)

In [54]:
ScimEn = ScimEn.drop(columns = 'Region')
ScimEn.columns

Index(['Rank', 'Country', 'Documents', 'Citable documents', 'Citations',
       'Self-citations', 'Citations per document', 'H index'],
      dtype='object')

In [55]:
energy.columns

Index(['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'], dtype='object')

In [56]:
sci_en = pd.merge(ScimEn, energy, on = 'Country')
sci_en['Country'].isna().sum()

0

In [57]:
sci_en.shape

(15, 11)

In [58]:
sci_en.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable
0,1,China,273437,272374,2336764,1615239,8.55,245,1.271910e+11,93.0,19.75491
1,2,United States,175891,172431,2230544,724472,12.68,363,9.083800e+10,286.0,11.57098
2,3,India,55082,53775,463165,162944,8.41,181,3.319500e+10,26.0,14.96908
3,4,Japan,50523,50065,488062,119930,9.66,193,1.898400e+10,149.0,10.23282
4,5,United Kingdom,43389,42284,615670,111290,14.19,226,7.920000e+09,124.0,10.60047

In [61]:
GDP = GDP.rename(columns={'Country Name': 'Country'})
GDP.columns

Index(['Country', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015'],
      dtype='object')

In [62]:
full_merge = pd.merge(sci_en, GDP, on = 'Country')
full_merge.shape

(15, 21)

In [63]:
full_merge.columns

Index(['Rank', 'Country', 'Documents', 'Citable documents', 'Citations',
       'Self-citations', 'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'],
      dtype='object')

In [ ]:
# full_merge_copy = full_merge.copy()

In [66]:
full_merge = full_merge.set_index(['Country'])
full_merge

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,273437,272374,2336764,1615239,8.55,245,1.271910e+11,93.0,19.754910,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551546e+12,8.532185e+12,9.570471e+12,1.047562e+13,1.106157e+13
United States,2,175891,172431,2230544,724472,12.68,363,9.083800e+10,286.0,11.570980,1.381558e+13,1.447423e+13,1.476986e+13,1.447807e+13,1.504897e+13,1.559973e+13,1.625397e+13,1.688068e+13,1.760814e+13,1.829502e+13
India,3,55082,53775,463165,162944,8.41,181,3.319500e+10,26.0,14.969080,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856722e+12,2.039126e+12,2.103588e+12
Japan,4,50523,50065,488062,119930,9.66,193,1.898400e+10,149.0,10.232820,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
United Kingdom,5,43389,42284,615670,111290,14.19,226,7.920000e+09,124.0,10.600470,2.708442e+12,3.090510e+12,2.929412e+12,2.412840e+12,2.485483e+12,2.663806e+12,2.707090e+12,2.784854e+12,3.064708e+12,2.927911e+12
Germany,6,38739,38013,433148,95145,11.18,196,1.326100e+10,165.0,17.901530,3.046309e+12,3.484057e+12,3.808786e+12,3.479801e+12,3.468154e+12,3.824829e+12,3.597897e+12,3.808086e+12,3.965801e+12,3.423568e+12
Russian Federation,7,36735,36560,115938,54993,3.16,90,3.070900e+10,214.0,17.288680,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
Canada,8,33472,32863,568080,100953,16.97,227,1.043100e+10,296.0,61.945430,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,27983,26940,352993,87828,12.61,166,6.530000e+09,109.0,33.667230,1.958564e+12,2.222524e+12,2.417508e+12,2.209484e+12,2.144936e+12,2.306974e+12,2.097929e+12,2.153226e+12,2.173256e+12,1.845428e+12
South Korea,10,27655,27445,328488,61531,11.88,155,1.100700e+10,221.0,2.279353,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.143672e+12,1.253290e+12,1.278047e+12,1.370633e+12,1.484489e+12,1.466039e+12
France,11,25232,24732,343860,65734,13.63,178,1.059700e+10,166.0,17.020280,2.317862e+12,2.655817e+12,2.926803e+12,2.700076e+12,2.646230e+12,2.870409e+12,2.683007e+12,2.816078e+12,2.861236e+12,2.442483e+12
Iran,12,22933,22734,307280,97038,13.40,141,9.172000e+09,119.0,5.707721,2.656022e+11,3.497366e+11,4.060709e+11,4.140591e+11,4.870696e+11,6.290823e+11,6.440193e+11,5.003998e+11,4.622848e+11,4.091917e+11
Spain,13,21955,21597,352497,64588,16.06,176,4.923000e+09,106.0,37.968590,1.261847e+12,1.476746e+12,1.636115e+12,1.496588e+12,1.427989e+12,1.487569e+12,1.330995e+12,1.362187e+12,1.380245e+12,1.206165e+12
Brazil,14,21524,21236,183915,45172,8.54,127,1.214900e+10,59.0,69.648030,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616156e+12,2.465228e+12,2.472820e+12,2.456044e+12,1.802212e+12
Australia,15,20614,20147,314307,51583,15.25,176,5.386000e+09,231.0,11.810810,7.484176e+11,8.550075e+11,1.056112e+12,9.287621e+11,1.148838e+12,1.398611e+12,1.547532e+12,1.577123e+12,1.468265e+12,1.351296e+12

In [67]:
full_merge.shape

(15, 20)

### Function

In [64]:
def answer_one():

    # Loaded the energy data from the file Energy Indicators.xls with footer and header were excluded
    energy = pd.read_excel('Energy Indicators.xls', skiprows = 17, skipfooter = 38)

    # First two columns were dropped
    energy = energy.iloc[:, 2:]

    # Changed the column labels
    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

    # Missing data were reflected as np.NaN values
    # Since missing data have occured only in columns that should be numeric I used pd.numeric()
    for column in energy.columns[1:]:
        energy[column] = pd.to_numeric(energy[column], errors = 'coerce')
    
    # Converted Energy Supply to gigajoules
    energy['Energy Supply'] = energy['Energy Supply']*1000000

    # Removed numbers and text in the parentheses for Country names which have contained them
    energy['Country'] = energy['Country'].str.replace('\\d','', regex = True).str.replace(' [(].*', '', regex=True)

    # Renamed some coutries
    countries_mapping = {
    'Republic of Korea': 'South Korea',
    'United States of America': 'United States',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'China, Hong Kong Special Administrative Region': 'Hong Kong'
    }
    energy['Country'] = energy['Country'].replace(countries_mapping)

    # Loaded GDP data and skipped header
    GDP = pd.read_csv('API_NY.GDP.MKTP.CD_DS2_en_csv_v2_19294.csv', skiprows = 4)

    # Renamed the following list of countries
    countries_mapping_gdp = {    
    'Korea, Rep.': 'South Korea',
     'Iran, Islamic Rep.': 'Iran',
     'Hong Kong SAR, China': 'Hong Kong'}
    
    GDP['Country Name'] = GDP['Country Name'].replace(countries_mapping_gdp)

    # Loaded the "Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology"
    ScimEn = pd.read_excel('scimagojr.xlsx')

    # Choosing only the 10 years (2006-2015) of GDP data and column 'Country'
    for column in GDP.columns:
        if (column.isdigit() and (int(column) < 2006 or int(column) > 2015)) or (not column.isdigit() and column != 'Country Name') :
            GDP = GDP.drop(columns = column)

    # Joined the three datasets: Energy, GDP, and ScimEn, using the top 15 countries by Scimagojr
    GDP = GDP.rename(columns={'Country Name': 'Country'})
    
    merged = pd.merge(
    pd.merge(ScimEn.iloc[:15], energy, on='Country'), 
    GDP, 
    on='Country'
    )

    # Dropped 'Region' since this collumn wasn't mentioned in the list of expexted columns
    merged = merged.drop(columns = 'Region')

    # Set country names as index
    merged = merged.set_index(['Country'])
    return merged

In [66]:
df = answer_one()
print('Shape of the result DataFrame: ',df.shape)
df.head()

Shape of the result DataFrame:  (15, 20)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,273437,272374,2336764,1615239,8.55,245,1.271910e+11,93.0,19.75491,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551546e+12,8.532185e+12,9.570471e+12,1.047562e+13,1.106157e+13
United States,2,175891,172431,2230544,724472,12.68,363,9.083800e+10,286.0,11.57098,1.381558e+13,1.447423e+13,1.476986e+13,1.447807e+13,1.504897e+13,1.559973e+13,1.625397e+13,1.688068e+13,1.760814e+13,1.829502e+13
India,3,55082,53775,463165,162944,8.41,181,3.319500e+10,26.0,14.96908,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856722e+12,2.039126e+12,2.103588e+12
Japan,4,50523,50065,488062,119930,9.66,193,1.898400e+10,149.0,10.23282,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
United Kingdom,5,43389,42284,615670,111290,14.19,226,7.920000e+09,124.0,10.60047,2.708442e+12,3.090510e+12,2.929412e+12,2.412840e+12,2.485483e+12,2.663806e+12,2.707090e+12,2.784854e+12,3.064708e+12,2.927911e+12

### Question 2
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [ ]:
def answer_two():
    Top15 = answer_one()
    avgGDP = Top15.loc[:, '2006':].mean(axis=1).sort_values(ascending=False) # This method already ignores NaN values bu default
    return avgGDP

In [91]:
answer_two()

Country
United States         1.572243e+13
China                 6.927707e+12
Japan                 5.239642e+12
Germany               3.590729e+12
United Kingdom        2.777505e+12
France                2.692000e+12
Italy                 2.152983e+12
Brazil                1.988889e+12
Russian Federation    1.666746e+12
Canada                1.616359e+12
India                 1.602352e+12
Spain                 1.406644e+12
South Korea           1.221328e+12
Australia             1.207997e+12
Iran                  4.567516e+11
dtype: float64

### Question 3
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [102]:
def answer_three():
    Top15 = answer_one()

    return Top15.loc[answer_two().index[5], '2015'] - Top15.loc[answer_two().index[5], '2006']

In [103]:
answer_three()

124621907951.68018

### Question 4

Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [ ]:
def answer_four():
    Top15 = answer_one()
    cit_ratio = (Top15['Self-citations']/Top15['Citations']).sort_values(ascending=False)

    return (cit_ratio.index[0],cit_ratio.iloc[0])

In [140]:
answer_four()

('China', 0.6912289816173135)

### Question 5

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [145]:
def answer_five():
    Top15 = answer_one()
    population = (Top15['Energy Supply']/Top15['Energy Supply per Capita']).sort_values(ascending=False)
    return population.index[2]

In [146]:
answer_five()

'United States'

### Question 6
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

In [169]:
def answer_six():
    Top15 = answer_one()
    Top15['Citable Documents per Capita'] = Top15['Citable documents']/(Top15['Energy Supply']/Top15['Energy Supply per Capita'])
    
    return Top15[['Citable Documents per Capita','Energy Supply per Capita']].corr().iloc[0,1] # Pearson's correlation is a default method

In [170]:
answer_six()

0.7434709127726777

### Question 7
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [ ]:
def answer_seven():
    Top15 = answer_one()
    
    Top15['Population'] = Top15['Energy Supply']/Top15['Energy Supply per Capita']
    
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

    Top15['Continent'] = Top15.index.to_series().replace(ContinentDict)

    continet_population = Top15.groupby('Continent')['Population'].agg(['size', 'sum', 'mean', 'std'])
    continet_population['std'] = continet_population['std'].fillna(0)
    
    return continet_population

In [217]:
answer_seven()

               size           sum          mean           std
Continent
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07  0.000000e+00
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08  0.000000e+00